@import '../utils/mixin';

.header {
    background-color: #fff;
    padding: 15px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 700;

    @include media((
        height: (xl: 100px, lg: 100px, md: 80px, sm: 60px),
        padding: (xl: 15px 0, lg: 15px 0, md: 10px 0, sm: 10px 0)
    ));

    &.header__scroll {
        position: fixed;
        animation-duration: 1s;
        animation-name: slidein;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 230px 1fr;
    }
    .header__topbar {
        display: flex;

        li {
            align-self: center;
            position: relative;

            & ~ li {
                margin-left: 30px;
            }

            &:hover:after,
            &.active:after {
                background-color: #5363db;
                content: '';
                height: 1px;
                left: calc(50% - 15px);
                position: absolute;
                top: 25px;
                width: 30px;
                animation-duration: 1.5s;
                animation-name: navActive;
            }
        }

        a {
            color: #5363db;
            font-family: 'OpenSansSemiBold', sans-serif;
            text-decoration: none;
        }

        &-left {
            margin-left: auto;
        }
    }
    .header__logo {
        img {
            height: 70px;
            margin: 0 auto;
        }
    }
}



// Animations

@keyframes slidein {
    from {
      top: -100%;
    }
  
    to {
        top: 0;
    }
}

@keyframes navActive {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }