@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), 
        // url('#{$file-path}.woff') format('woff'), 
        url('#{$file-path}.ttf') format('truetype');
    }
}

@include font-face('OpenSans', '../../../fonts/opensans/opensans');
@include font-face('OpenSansBold', '../../../fonts/opensans/opensansbold');
@include font-face('OpenSansSemiBold', '../../../fonts/opensans/opensanssemibold');
@include font-face('OpenSansItalic', '../../../fonts/opensans/opensansitalic');

@include font-face('FreeStyleRegular', '../../../fonts/freestyle/FreestyleScriptRegular');