@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  max-width: 100%; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

address {
  font-style: normal; }

* {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px; }

.header {
  padding: 15px 0; }
  .header nav {
    display: grid;
    grid-template-columns: 1fr 230px 1fr; }
  .header .header__topbar {
    display: flex; }
    .header .header__topbar li {
      align-self: center;
      position: relative; }
      .header .header__topbar li ~ li {
        margin-left: 30px; }
      .header .header__topbar li.active:after {
        background-color: #5363db;
        content: '';
        height: 1px;
        left: calc(50% - 15px);
        position: absolute;
        top: 25px;
        width: 30px; }
    .header .header__topbar a {
      color: #5363db;
      font-family: 'OpenSansSemiBold', sans-serif;
      text-decoration: none; }
    .header .header__topbar-left {
      margin-left: auto; }
  .header .header__logo img {
    height: 70px;
    margin: 0 auto; }

.main-banner {
  background-image: url("../../../img/slider-bg.png");
  height: 600px; }

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 350px; }
  .gallery-item img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%; }
  .gallery-item .gallery-link {
    position: relative;
    display: block;
    height: 100%;
    width: 100%; }
    .gallery-item .gallery-link__overlay {
      background: rgba(124, 137, 239, 0.8);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .3s ease; }
      .gallery-item .gallery-link__overlay:before {
        content: '';
        position: absolute;
        background-color: #fff;
        width: 58px;
        height: 58px;
        left: calc(50% - 29px);
        top: calc(50% - 29px);
        box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
        border-radius: 50%; }
      .gallery-item .gallery-link__overlay:after {
        content: url("../../../img/icons/glyphicons-28-search.png");
        left: calc(50% - 12px);
        top: calc(50% - 12px);
        position: absolute;
        height: 24px;
        width: 24px; }
    .gallery-item .gallery-link:hover .gallery-link__overlay {
      opacity: 1; }

.advantages {
  background-image: url("../../../img/advantages-bg.png");
  padding: 100px 0; }
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    grid-column-gap: 30px; }
  .advantages__item {
    color: white;
    text-align: center; }
    .advantages__item .icon {
      border: 2px solid #fff;
      border-radius: 50%;
      height: 70px;
      margin: 0 auto;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px; }
      .advantages__item .icon img {
        display: block;
        margin: auto; }
    .advantages__item .title {
      font-family: 'OpenSansBold', sans-serif;
      font-size: 18px;
      max-width: 200px;
      margin: 0 auto 15px; }
    .advantages__item .description {
      font-family: 'OpenSans', sans-serif;
      font-size: 16px; }

.footer__top {
  background-color: #5b6ceb;
  color: white;
  padding: 95px 0; }
  .footer__top .footer__top-info {
    display: flex;
    padding-bottom: 45px; }
  .footer__top-column {
    width: 50%; }
  .footer__top .footer__column-title {
    font-family: 'OpenSansBold', sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase; }
  .footer__top .footer__column-content {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    padding-top: 50px; }
    .footer__top .footer__column-content__left {
      max-width: 470px; }
    .footer__top .footer__column-content__right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 50px;
      grid-row-gap: 20px; }
  .footer__top .info-point {
    padding-left: 35px;
    position: relative; }
    .footer__top .info-point:before {
      position: absolute;
      left: 0;
      top: 3px; }
    .footer__top .info-point__address:before {
      content: url("../../../img/icons/footer-address.png"); }
    .footer__top .info-point__email:before {
      content: url("../../../img/icons/footer-email.png"); }
    .footer__top .info-point__phone:before {
      content: url("../../../img/icons/phone-call.png"); }
    .footer__top .info-point__url:before {
      content: url("../../../img/icons/planet-earth.png"); }
  .footer__top .footer__social-list {
    display: flex; }
    .footer__top .footer__social-list li {
      margin-right: 15px; }

.footer__bottom {
  background-color: #5363d8;
  padding: 35px 0 35px; }
  .footer__bottom-copyright {
    color: #b7bffc;
    margin: 0 auto;
    text-align: center; }

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../../../fonts/opensans/opensans.eot");
  src: url("../../../fonts/opensans/opensans.eot?#iefix") format("embedded-opentype"), url("../../../fonts/opensans/opensans.woff") format("woff"), url("../../../fonts/opensans/opensans.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansBold";
  font-weight: normal;
  font-style: normal;
  src: url("../../../fonts/opensans/opensansbold.eot");
  src: url("../../../fonts/opensans/opensansbold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/opensans/opensansbold.woff") format("woff"), url("../../../fonts/opensans/opensansbold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansSemiBold";
  font-weight: normal;
  font-style: normal;
  src: url("../../../fonts/opensans/opensanssemibold.eot");
  src: url("../../../fonts/opensans/opensanssemibold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/opensans/opensanssemibold.woff") format("woff"), url("../../../fonts/opensans/opensanssemibold.ttf") format("truetype"); }

/*# sourceMappingURL=main.css.map */
